########################
# R / RStudio
########################
.Rproj.user
.Rhistory
.RData
.Ruserdata

########################
# macOS
########################
.DS_Store

########################
# Python / Jupyter
########################
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

#######################
Results/

